[user]
	name = Stoyan Shukerov
	email = stoichik@gmail.com
[core]
	editor = nvim

[alias]
  # add all
  aa = add --all

	# shortcut for 'git checkout'
	co = checkout

	# shortcut for 'git commit'
	ci = commit
	
	# shortcut for 'git commit'
	ca = commit --amend

	# shortcut for 'git status'
	st = status

  # checkout new branch
  cb = checkout -b

	# shortcut for 'git branch'
	br = branch

	# shortcut for 'git diff'
	df = diff
	
	# compact and informative commit history view
	lg = log --graph --oneline --decorate --all

	# informative commit history view
	log = log --graph --decorate --all

  # merge with no fast forward
  mm = merge --no-ff

